.sectionTitle {
    font-size: 45px;
    background: var(--tj-theme-primary);
    background: -webkit-gradient(linear, left top, right top, from(var(--tj-theme-primary)), to(var(--tj-white)));
    background: -o-linear-gradient(left, var(--tj-theme-primary) 0%, var(--tj-white) 100%);
    background: linear-gradient(to right, var(--tj-theme-primary) 0%, var(--tj-white) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-flex;
    gap: 15px;
    margin-bottom: 0;
}