.heroImageBox {
    position: relative;
}

.heroImageBox img {
    border-radius: 38px;
    -webkit-transform: rotate(4.29deg);
    -ms-transform: rotate(4.29deg);
    transform: rotate(4.29deg);
    position: relative;
    border: 2px solid var(--tj-theme-secondary);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .heroImageBox img:hover {
    border: 2px solid var(--tj-theme-primary);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  

  
  .heroImageBox:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: var(--tj-theme-primary);
    background: -o-linear-gradient(190deg, var(--tj-theme-primary) 0%, rgba(115, 67, 210, 0) 100%);
    background: linear-gradient(260deg, var(--tj-theme-primary) 0%, rgba(115, 67, 210, 0) 100%);
    -webkit-filter: blur(150px);
    filter: blur(150px);
    margin-left: -5%;
    margin-bottom: -5%;
  }